@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #1e3f85;
  user-select: none;
}

.card {
  display: block;
  margin: auto;

  position: relative;
  top: 30px;

  width: 426px;
  height: 598px;

  border-radius: 5%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -2px rgba(255, 255, 255, 0.05);
  transition: border-color 0.3s cubic-bezier(0.17, 0.52, 0.62, 0.91);
}

.card:hover {
  border-color: rgba(255, 255, 255, 0.45);
}

#profile {
  width: 200px;
  height: 200px;
  border-radius: 10%;

  position: relative;
  left: 113px;
  top: 60px;
}

#profile-pic {
  display: block;
  margin: auto;

  width: 200px;

  border: 1px solid;
  border: 1px solid rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -2px rgba(255, 255, 255, 0.05);

  border-radius: 10%;

  transition: border 0.2s cubic-bezier(0.17, 0.52, 0.62, 0.91);
}

body:has(.card:hover) #profile img {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

#profile-name {
  position: relative;
  right: 48px;
  text-align: center;
  width: 300px;
  font-size: 24px;

  color: white;

  font-family: "Raleway";

  transition: color 0.2s cubic-bezier(0.17, 0.52, 0.62, 0.91);
}

body:has(.card:hover) #profile-name {
  color: #00b7ff;
}

#profile-description {
  display: block;
  margin: auto;
  position: relative;

  text-align: center;
  font-family: "Nunito";
  font-weight: 400;
  color: white;

  font-size: 18px;
  width: 360px;
  right: 81px;
  top: -21px;
}

#carrer-description {
  display: block;
  margin: auto;
  position: relative;

  color: white;

  right: 18px;
  top: -5px;
  width: 240px;
  font-size: 16px;
  text-align: center;
  font-family: "Nunito";
}
